.tile {
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.tile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.page-navigation {
    display: flex;
    flex-flow: row;
}
.flex-expand {
    flex: 1;
}
.centered {
    text-align: center;
}
.people-container {
    margin-left: auto;
    margin-right: auto;
}
.input-group {
    margin-top: 20px;
}
.input-group > input.form-control {
    margin-top: 1px !important;
}