<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
            <footer>
                Fake people data provided by <a href="http://www.fakenamegenerator.com/">fakenamegenerator.com</a>.<br/>
                MonsterId avatars by <a href="http://en.gravatar.com/">Gravatar</a>
            </footer>
        </div>
    </div>
</div>
